body {
  background-color: #f9f7fe;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #289ac8;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 0, 0, 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 20;
}

.search-form-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #289ac8;
  color: white;
  border: none;
  padding: 10px;
  line-height: 1;
  border-radius: 5px;
}
.search-button hover {
  cursor: pointer;
}

main {
  padding: 30px 0;
}

.current-weather-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}
.weather-app-details {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.weather-app-details strong {
  color: rgba(144, 14, 214);
}

.weather-app-temperature-container {
  display: flex;
}

.current-temperature-icon {
  width: 88px;
  height: 88px;
}

.current-temperature-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.current-temperature-unit {
  margin-top: 15px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: #289ac8;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: rgba(144, 14, 214);
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
}
